<!-- start main -->
<div class="wrap">
    <div class="content"><!-- start content -->
        <h5>our gallery</h5>
        <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,galley of type and scrambled it to make a type specimen book.</h6>
        <ul class="hover_pack right">
            <li>
                    <a [routerLink]="['/detail']" routerLinkActive="router-link-active" class="b_btn"><span > <h4>creative</h4><p>Lorem Ipsumly</p></span> </a>
            </li>				 
            <li>
                <a [routerLink]="['/detail']" routerLinkActive="router-link-active" class="b-link-stripe b-animate-go  thickbox">
                <img src="../../assets/images/h_pic1.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
                    <p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet<br><span class="m_4">Photography</span></p></div></a>
            </li>		
            <li>
                <a [routerLink]="['/detail']" routerLinkActive="router-link-active" class="b-link-stripe b-animate-go  thickbox">
                <img src="../../assets/images/h_pic2.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
                    <p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet<br><span class="m_4">Photography</span></p></div></a>
            </li>	
            <div class="clear"></div>	
        </ul>
        <ul class="hover_pack left">
            <li>
                <a [routerLink]="['/detail']" routerLinkActive="router-link-active" class="b-link-stripe b-animate-go  thickbox">
                <img src="../../assets/images/h_pic3.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
                    <p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet<br><span class="m_4">Photography</span></p></div></a>
            </li>				
            <li>
                <a [routerLink]="['/detail']" routerLinkActive="router-link-active" class="b-link-stripe b-animate-go  thickbox">
                <img src="../../assets/images/h_pic4.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
                    <p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet<br><span class="m_4">Photography</span></p></div></a>
            </li>	
            <li>
                    <a [routerLink]="['/detail']" routerLinkActive="router-link-active" class="b_btn"><span > <h4>photo's</h4><p>Lorem Ipsumly</p></span> </a>
            </li>	
            <div class="clear"></div>																																						
        </ul>
        <ul class="hover_pack left right">
            <li>
                    <a [routerLink]="['/detail']" routerLinkActive="router-link-active" class="b_btn"><span > <h4>photo's</h4><p>Lorem Ipsumly</p></span> </a>
            </li>		
            <li>
                <a [routerLink]="['/detail']" routerLinkActive="router-link-active" class="b-link-stripe b-animate-go  thickbox">
                <img src="../../assets/images/h_pic5.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
                    <p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet<br><span class="m_4">Photography</span></p></div></a>
            </li>				
            <li>
                <a [routerLink]="['/detail']" routerLinkActive="router-link-active" class="b-link-stripe b-animate-go  thickbox">
                <img src="../../assets/images/h_pic6.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
                    <p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet<br><span class="m_4">Photography</span></p></div></a>
            </li>
            <div class="clear"></div>																																						
        </ul>
        <ul class="hover_pack left">
            <li>
                <a [routerLink]="['/detail']" routerLinkActive="router-link-active" class="b-link-stripe b-animate-go  thickbox">
                <img src="../../assets/images/h_pic2.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
                    <p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet<br><span class="m_4">Photography</span></p></div></a>
            </li>	
            <li>
                    <a [routerLink]="['/detail']" routerLinkActive="router-link-active" class="b_btn"><span > <h4>creative</h4><p>Lorem Ipsumly</p></span> </a>
            </li>	
            <li>
                <a [routerLink]="['/detail']" routerLinkActive="router-link-active" class="b-link-stripe b-animate-go  thickbox">
                <img src="../../assets/images/h_pic3.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
                    <p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet<br><span class="m_4">Photography</span></p></div></a>
            </li>	
            <div class="clear"></div>																																						
        </ul>
        <div class="clear"></div>	
    </div><!-- end content -->
</div>
