<!-- start header -->

<div class="wrap">
    <div class="soc_icons">
        <ul class="tt-wrapper">
            <li><a class="tt-gplus" href="#"><span>twitter</span></a></li>
            <li><a class="tt-twitter" href="#"><span>dribbble</span></a></li>
            <li><a class="tt-dribbble" href="#"><span>facebook</span></a></li>
            <li><a class="tt-facebook" href="#"><span>youtube</span></a></li>
            <li><a class="tt-linkedin" href="#"><span>skype</span></a></li>
            <li><a class="tt-forrst" href="#"><span>pintrest</span></a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="h_main">
        <div class="h_img">
            <img src="../../assets/images/pic.png" alt=""/>
        </div>
        <div class="h_text">
            <h2>new collections</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<span class="hide1"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<span class="hide">when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</span></span> </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="header_left"><!-- start header_left -->
        <div class="logo">
            <h1><a [routerLink]="['/content']" routerLinkActive="router-link-active" >spirit</a></h1>
        </div>
        <div class="h_nav">
            <ul>
                <li><a [routerLink]="['/content']" routerLinkActive="router-link-active" >home</a></li>
                <li><a [routerLink]="['/about']" routerLinkActive="router-link-active">about</a>  </li>
                <li><a [routerLink]="['/blog']" routerLinkActive="router-link-active" >blog</a></li>
                <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >contact</a></li>
            </ul>
        </div>
    </div><!-- end header_left -->
</div>
